
* {
  box-sizing: border-box;
  }

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

/* PT Sans */

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

html {
  height: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item-style {
  list-style: none;
}

/* Pages */

.page-header {
  width: 100%;
  height: 64px;
  margin: 0 auto;
  color: #000000;
}

.navigation-logo {
  padding: 0;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 35px;
}

.hotels-filters-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation {
  display: flex;
  height: 64px;
  max-width: 1280px;
  align-items: center;
  background-color: #ffffff;
  padding: 0 70px;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.favotites-icon {
  padding: 22px 12px 22px 12px;
}

.search-icon {
  padding: 22px 12px 22px 12px;
}

.navigation-link {
  display: block;
  padding: 20px 16px 20px 16px;
  font-family: "PT  Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.user-navigation-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  font-family: "PT  Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.inner-wrapper{
  height: 412px;
  background-image: url(../images/hotels/filtr.jpg);
  padding: 35px 70px 70px 70px;
}

.breadcrumbs {
  display: flex;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.navigation-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs-link {
  text-decoration: none;
}

/* Hero */

.main-index {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #ffffff;

}

.divided-icon {
  margin-top: auto;
}

.main-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
}

.header-description {
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 69px;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 485px;
  margin-bottom: 69px;
  padding-top: 51px;
  background-image: url("../images/index-background.jpg");
}

.hero-background{
  width: 1200px;
  background-repeat: no-repeat;
}


.hero-welcome {
  display: block;
  margin: 0 auto;
}

.search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.hotels-filter {
  color: #ffffff;
}

.hotels-filter-list{
  margin: 0;
  padding: 0;
}

.select-block {
  display: flex;
  width: 292px;
  align-items: center;
  margin-left: auto;
  width: 292px;
  height: 49px;
  padding: 14px 20px 14px 20px;
  border-radius: 4px;
  border: 2px;
  border-color: #E5E5E5  ;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotels-filtr-image {
  width: 412px;
  background-repeat: no-repeat;
}

.hotels-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.hotels-form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -200px;
  margin-left: 0;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hotel-card-wrapper {
  gap: calc(100% / 3 - 20 * 2);
  padding: 0 70px;
}

.hotel-card-link{
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-info {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-card {
  width: 340px;
  height: 438px;
  background-color: #ffffff;
  border-color: #E6E6E6;
  border-width: 1px;
  border-radius: 1px;
}



/* Advantages*/

.advantages {
  margin-bottom: 64px;
  padding: 0;
}

.advantages-image {
  margin: 0;
  padding: 0;
  height: 384px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 112.5px;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-description {
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-item-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-tourists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: #82B3D3;
  color: #ffffff;
}

/* Recommendations */

.recommendations {
  margin-bottom: 69px;
}

.recommendations-list {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  padding-top: 183px;
  width: 230px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.recommendations-description {
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0 auto;
}

.recommendations-item-houses{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  background-image: url(../images/recommendations-icons/houses.svg);
  background-repeat: no-repeat;
  background-position: center 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations-item-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  background-image: url("../images/recommendations-icons/food.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.recommendations-item-souvenirs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  background-image: url(../images/recommendations-icons/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.search-block {
  display: flex;
  flex-direction: flex-start;
  margin-bottom: 40px;
}


.wiev-block {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  width: 160px;
}

.select-control {
  width: 292px;
  height: 49px;
}

.hotels-filter-form {
  display: flex;
  margin-left: 70px;
  width: 1060px;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  margin-left: auto;
}

.catalog {
  margin-top: 56.5px;
}


.hotels-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.hotel-card {
  width: 340px;
  margin-bottom: 20px;
  outline: 1px solid rgba(230, 230, 230, 1);
}

/* Boocking */

.booking {
  margin-bottom: 69px;
}

/* Buttons */

.button {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  text-decoration: none;
  border-style: none;
}

.user-navigation-button {
  min-width: 160px;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 20px;
  padding: 8px 50px;
}

.button-search {
  width: 375px;
  height: 52px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe {
  width: 232px;
  height: 52px;
  background-color: #82B3D3;
  border-style: none;
  font-size: 20px;
  line-height: 36px;
}

.button-apply {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 35px;
}

.button-reset {
  width: 191px;
  height: 36px;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

/* Hotel cards */

.hotel-card-button {
  width: 140px;
  height: 36px;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-more {
  background-color: #756157;
  padding: 8px 50px 8px 50px;
}

.button-favorites {
  background-color: #82B3D3;
  padding: 8px 50px 8px 50px;
}

.button-in-favorites {
  background-color: #7DB54F;
  padding: 8px 50px 8px 50px;
}
.button-rating {
  width: 140px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 9px 23px 8px 22px;
  background-color: #F2F2F2;
}

.hotel-card-image {
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding: 20px;
}

.hotel-info{
  font-size: 18px;
  line-height: 21px;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 60px;
  padding: 0;
}

.pagination-link {
  text-decoration: none;
}

.pagination-button {
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  padding: 11.36px 23.45px 12.64px 24.55px;
}

.pagination-current {
  width: 60px;
  height: 60px;
  color: #000000;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  padding: 11.36px 23.45px 12.64px 24.55px;
}

/* Booking */

.booking {
  text-align: center;
}

/* Subscrib */

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 415px;
  background-image: url("../images/subscribe.jpg");
}

.subscribe-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 415px;
  width: 1200px;
  margin: 0;
}

.subscribe-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color:#ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-input {
  width: 452px;
  height: 52px;
  background-color: #f2f2f2;
  border-style: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.subscribe-form {
  margin: 0;
  text-align: center;
}

.subscribe-offer {
  margin-bottom: 104px;
}

/* Footer */

.footer-wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  text-decoration: none;
  max-width: 1280px;
  background-color: #ffffff;
}

.social-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 142px;
  height: 40px;
  list-style: none;
}

.social-item {
  width: 47.33px;
  height: 40px;
  padding: 0 10px;
  margin: 0;
}

.search-block {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.footer-contacts-phone {
  text-align: center;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-logo {
  text-align: right;
  padding: 0;
}

.inner-main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}
